<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="ReyDesk Endpoint Agent"
    Manufacturer="ReyDesk"
    Version="0.1.0.19"
    UpgradeCode="6FCD0F45-9E7D-4F4A-9A24-75AB9A0F45C1"
    Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer ReyDesk Endpoint Agent is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="DESKOS_API_URL" Value="$(var.DefaultApiUrl)" Secure="yes" />
    <Property Id="DESKOS_RELAY_URL" Value="$(var.DefaultRelayUrl)" Secure="yes" />
    <Property Id="DESKOS_ENROLL_TOKEN" Secure="yes" Hidden="yes" />
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="ReyDesk was installed. Enroll this endpoint before starting the ReyDeskAgent service." />

    <Feature Id="AgentFeature" Title="ReyDesk Endpoint Agent" Level="1">
      <ComponentGroupRef Id="AgentFiles" />
      <ComponentGroupRef Id="AgentData" />
      <ComponentGroupRef Id="UserConsentStartup" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="ReyDesk Agent" />
    </StandardDirectory>

    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="DESKOSDATA" Name="DeskOS" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ReyDeskProgramsFolder" Name="ReyDesk Agent" />
    </StandardDirectory>

    <StandardDirectory Id="StartupFolder" />
  </Fragment>

  <Fragment>
    <ComponentGroup Id="AgentFiles" Directory="INSTALLFOLDER">
      <Component Id="AgentExecutable" Guid="*" Bitness="always64">
        <File Id="ReyDeskAgentExe" Source="$(var.AgentBinary)" KeyPath="yes" />
        <ServiceInstall
          Id="ReyDeskAgentServiceInstall"
          Name="DeskOSAgent"
          DisplayName="ReyDesk Endpoint Agent"
          Description="ReyDesk endpoint telemetry and remote-support agent."
          Type="ownProcess"
          Start="demand"
          ErrorControl="normal"
          Vital="yes"
          Account="LocalSystem"
          Arguments="service --config &quot;[CommonAppDataFolder]DeskOS\deskos-agent.json&quot;" />
        <ServiceControl
          Id="ReyDeskAgentServiceControl"
          Name="DeskOSAgent"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes" />
      </Component>
      <Component Id="TrayHelperLauncher" Directory="INSTALLFOLDER" Guid="*">
        <File Id="ReyDeskTrayLauncher" Source="$(var.TrayLauncher)" KeyPath="yes" />
      </Component>
      <Component Id="EnrollmentShortcut" Directory="ReyDeskProgramsFolder" Guid="*">
        <Shortcut
          Id="ReyDeskEnrollmentShortcut"
          Name="Enroll ReyDesk Agent"
          Description="Connect this endpoint to ReyDesk without using a terminal."
          Target="[INSTALLFOLDER]reydesk-agent.exe"
          Arguments="enroll-ui --config &quot;[CommonAppDataFolder]DeskOS\deskos-agent.json&quot;"
          WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\ReyDesk\Agent" Name="EnrollmentShortcut" Type="integer" Value="1" KeyPath="yes" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="AgentData" Directory="DESKOSDATA">
      <Component Id="ReyDeskDataDirectory" Guid="B1E9B8E6-0E42-4A42-9A50-9C7A9A5B3142">
        <CreateFolder />
        <RegistryKey Root="HKLM" Key="Software\DeskOS\Enrollment">
          <RegistryValue Name="ApiUrl" Type="string" Value="[DESKOS_API_URL]" />
          <RegistryValue Name="RelayUrl" Type="string" Value="[DESKOS_RELAY_URL]" />
          <RegistryValue Name="Token" Type="string" Value="[DESKOS_ENROLL_TOKEN]" />
        </RegistryKey>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="UserConsentStartup">
      <Component Id="ConsentHelperStartup" Directory="StartupFolder" Guid="*">
        <Shortcut
          Id="ReyDeskConsentHelperStartup"
          Name="ReyDesk tray helper"
          Description="ReyDesk tray status and attended-session helper"
          Target="[SystemFolder]wscript.exe"
          Arguments="//B //NoLogo &quot;[INSTALLFOLDER]start-tray-helper.vbs&quot;"
          WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\ReyDesk\Agent" Name="ConsentHelperStartup" Type="integer" Value="1" KeyPath="yes" />
        <RemoveFolder Id="RemoveConsentHelperStartup" On="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
